cmdvVersion: v1.0
class: TestWorkflow

label: Test-Config
doc:  |
    Simplified template for test workflow

inputs: {}
  # repo:
  #   location: none
  # directories : 
  #   setup : null
  #   build  : null
  #   run    : null
  #   postprocessing : null  
  #   data   : null  
     
    
outputs:
  reports:
    type: File[]
    outputSource: [setup/report , build/report , run/report , postprocessing/report]

        
steps: 
  setup:
    label: Default setup step
    run: 
      baseCommand: []
    in: {}
    out: {}
          
  build:
    run:
      baseCommand: []
    in: {}
    out: {}
    
  run:
    run:
      baseCommand: []
    in: {}
    out: {}
        
  postprocessing:
    run: 
      baseCommand: []
    in: {}
    out: {}
    
  archive:
    run: none
    in: {}
    out: {}    
