cmdvVersion: v1.0
class: TestConfig | Workflow

label: Test-Config
doc:  |
    Template for test config





inputs:
  repo:
    location: none
  directories : 
    deploy : null
    build  : null
    run    : null
    postprocessing : null  
    data   : null  
     
    
outputs:
  reports:
    type: File[]
    outputSource: [deploy/report , build/report , run/report , postprocessing/report]

        
steps: 
  deploy:
    label: Default deploy step
    run: 
      baseCommand: []
    in: 
      repo:
        type: Directory
        location: URI #
      destination: 
        valueFrom: ${inputs.directories.deploy}
        default: ${config.base}   
    out:
      - report:
          type: File
          glob: deploy.log
      - dir: 
          type: Directory
          glob: none
          
  build:
    run:
      baseCommand: []
    in: {}
    out: 
      - report:
        type: File
        glob: build.log
      - dir: 
        type: Directory
        glob: none
      - binary: 
        type: File[]
        glob: "*local-test"  # name of executable
    
  run:
    run:
      baseCommand: []
    in: {}
    out: 
      - report:
        type: File
        glob: "run.log"
      - dir:
        type: Directory?
        glob: none
        
  postprocessing:
    run: # workflow or tool or baseCommand
      baseCommand: []
    in: {}
    out: {}
    
  archive:
    run: none
    in: {}
    out: {}    




requirements:
  - class: CMDV-Config
    include:
      name: config
      glob: global_test_config.json
      class: CMDVGlobalConfig
      
  - class: SchemaDefRequirement
    types:
      - type: enum
        name: repo_types
        label: Repo types
        symbols:
          - git
          - local
      - type: record
        label: Repository type
        name: Repository
        fields:
          - name: location
            type: URI
            doc: |
              This may be a relative reference, in which case it must be resolved using the base IRI
              of the document.
          - name: type
            label: whole numbers
            doc: Type of repository
            type: repo_types

